
body{
	background: white;
	font-family: 'Arial', sans-serif;
	max-width: 440px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}
.topnav{
	width:auto;
	border:2px solid blue;
	border-radius: 10px;
	height:auto;
	padding:20px;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:flex-start;
}
h1{
  text-align:center;
  color:blue;
  font-size:60px;
  text-decoration:underline;
}
.buttonss {
	width:100%;
	text-align:right;
}

.buttonss button {
	color:blue;
}
